* {
	margin: 0;
	padding: 0;
}

p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
	font-family: 'Gotham', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

ul {
	padding-left: 15px;
}

html {
	scroll-behavior: smooth;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width:75%;
	display: flex;
}

.header {
	height: 80px;
	position: fixed;
	background: #FFFFFF;
	width: 75%;
	margin-top: 0;
	padding-left: 0;
	padding-top: 10px;
}

.footer {
	position: fixed;
	height: 25px;
	background: #FFFFFF;
	text-align: center; 
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.footer p {
	padding-bottom: 0;
}

.content {
	padding-bottom: 15px;
}

.menubar h1, a {
	font-family: 'Gotham', italic, sans-serif;
	font-size: 17px;
	text-decoration: none;
}


.posts h1 {
	font-family: 'Gotham', bold, sans-serif;
	font-size: 60px;
	padding-top: 80px;
	padding-bottom: 30px;
}

.box {
	margin: 0;
	padding: 0;
}

.img_block {
	float: left;
	margin: 7px 10px 0 0;
}

.img_block img {
	height: 235px;
}

.img_block2 {
	float: right;
	margin-top: 7px;
	margin-left: 10px;
}

.post_content ul  {
	padding-left: 100px;
}

.img_block3 {
	float: left;

}

.img_block3 img {
	width: 300px;
	height: 180px;
	margin-top: 15px;
}

.img_block3 img:hover {
	transition: 1s;
	transform: scale(1.2);
}

.item__wrapper {
	justify-content: space-between;
	display: flex;
	float: center;
}

.item__title {
	text-align: center;
	font-family: 'Gotham', italic, sans-serif;
	font-size: 10px;
	padding-bottom: 20px;
}

ul.post_content li {
	line-height: 1.7em;
	font-family: 'Gotham', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.map iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.talr {
	text-align: center;
}

.upbuttonmain {
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;    
 }    
